{% extends 'ZogsWorldBundle:layout:world_layout.html.twig' %}

{% block world_bundle_content %}

	<style>
		table th { font-weight: bold; }
	</style>

	<h2>Liste des pays:</h2>

	<table class="table table-stripped">
		<tr>
			<th>ID</th>
			<th>Code</th>
			<th>Lang</th>
			<th>Name</th>
			<th>Region</th>
			<th>ISO2</th>
			<th>ISO3</th>
			<th>ISO4</th>
			<th>ISO5</th>
			<th>CC2</th>
			<th>Action</th>
		</tr>
		{% for country in countries %}
		<tr>
			<td>{{ country.id }}</td>
			<td>{{ country.code }}</td>
			<td>{{ country.lang }}</td>
			<td><span class="flag flag-{{ country.cc1|lower }}"></span><a href="{{ path('world_list_region',{ country: country.id}) }}">{{ country.name }}</a></td>
			<td>{{ country.region }}</td>
			<td>{{ country.iso2 }}</td>
			<td>{{ country.iso3 }}</td>
			<td>{{ country.iso4 }}</td>
			<td>{{ country.isoNumeric }}</td>
			<td>{{ country.getIncludedInCountry() }}</td>
			<td>
				<a href="{{ path('world_edit_country', { country: country.id }) }}" class="btn-primary btn-sm">Modifier</a>
			</td>
		</tr>
		{% endfor %}
	</table>

{% endblock %}