
{% trans_default_domain 'FOSUserBundle' %}

<form class="form form-ws label-hidden w50 fleft form-register" action="{{ path("fos_user_security_check") }}" method="post">	

	
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />	

		<p class="intro"></p>

		<div class="control-group">
	    	<label class="control-label" for="username">{{ 'security.login.username'|trans }}</label>
	    	<div class="controls">
	    		<i class="icon-form icon-user"></i>
	    		<input type="text" id="username" name="_username" value="{{ app.session.get('_security.last_username') }}" required="required" placeholder="Nom d'utilisateur" />    		
	    	</div>
			
		</div>

		<div class="control-group">
			<label class="control-label" for="password">{{ 'security.login.password'|trans }}</label>
			<div class="controls">
				<i class="icon-form icon-lock"></i>
				<input type="password" id="password" name="_password" required="required" placeholder="Mot de passe" />			
			</div>
			
		</div>

		<div class="control-group" style="margin-top:10px">
		    <label class="control-label"></label>		
		    <div class="controls">
		    	<label for="remember_me" class="radio">
		    		<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
		    		<span>{{ 'security.login.remember_me'|trans }}</span>
		    	</label>
		    </div>
		</div>

		<div class="control-group control-submit">	  
			<label class="control-label"></label>	  		    
		    <button type="submit" id="_submit" name="_submit" class="btn btn-primary" ><strong>{{ 'security.login.submit'|trans }}</strong></button>
		    <a class="btn btn-info" href="{{ path("fos_user_registration_register") }}"><strong>Pas encore inscrit ?</strong></a>	    			
			<a class="btn btn-warning" href="{{ path('fos_user_resetting_request') }}"><strong>Mot de passe oublié ?</strong></a>	    						
		</div>

		{% if app.request.get('_route') != app.request.headers.get('referer') %}   
		    <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}" />   
		{% endif %}
		
	    
</form>

	